.App {
	text-align: center;
}

.App-header {
	background-color: rgb(66, 0, 47);
	height: 80px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.title-link {
	color: white;
	text-decoration: none;
}

.title-link:hover {
	color: #cccccc;
	text-transform: capitalize;
	text-decoration: none;
}
